.signup_main {
  /* display: flex;  */
  width: 100vw;
  height: 100vh;
  justify-content: center; /* Center horizontally */
  align-items: center;
}
.signup_backarrow {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
}
.signup_main_container {
  background-color: #e96f6fb2;
  width: 380px;
  height: auto;
  padding-bottom: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
}
.signup_text {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
}
.signup_firstname {
  gap: 8px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.signup_firstname span {
  font-size: 18px;
}
.signup_firstname_input {
  border-radius: 20px;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  border: none;
  border: none;
}
.signup_lastname {
  gap: 8px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.signup_lastname span {
  font-size: 18px;
}
.signup_lastname_input {
  border-radius: 20px;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  border: none;
}
.signup_phone_number {
  gap: 8px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.signup_phone_number span {
  font-size: 18px;
}
.signup_phone_number_input {
  height: 40px;
  width: 300px;

  border-radius: 20px;
  padding-left: 10px;
  border: none;
}
.signup_email {
  gap: 8px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.signup_email span {
  font-size: 18px;
}
.signup_email_input {
  height: 40px;
  width: 300px;

  border-radius: 20px;
  padding-left: 10px;
  border: none;
}
.signup_password {
  gap: 8px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.signup_password span {
  font-size: 18px;
}
.signup_password_input {
  height: 40px;
  width: 300px;

  border-radius: 20px;
  padding-left: 10px;
  border: none;
}
.signup_confirm_password {
  gap: 8px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.signup_confirm_password span {
  font-size: 18px;
}
.signup_confirm_password_input {
  height: 40px;
  width: 300px;

  border-radius: 20px;
  padding-left: 10px;
  border: none;
}
.submit_signup_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit_signup {
  height: 40px;
  width: 200px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}
.signup_agree {
  margin-top: 20px;
}
.agree_text {
  font-size: 17px;
  font-weight: 500;
}
@media (min-width: 1px) and (max-width: 400px) {
  .signup_main {
    /* display: flex;  */
    width: 100vw;
    height: 100vh;
    justify-content: center; /* Center horizontally */
    align-items: center;
  }
  .signup_backarrow {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .signup_main_container {
    background-color: #e96f6fb2;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
  }
  .signup_text {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
  }
  .signup_firstname {
    gap: 4px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .signup_firstname span {
    margin-left: 18px;
    font-size: 16px;
  }
  .signup_firstname_input {
    border-radius: 20px;
    height: 35px;
    margin-left: 15px;
    width: 250px;
    padding-left: 10px;
    border: none;
    border: none;
  }
  .signup_lastname {
    gap: 4px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .signup_lastname span {
    margin-left: 18px;
    font-size: 16px;
  }
  .signup_lastname_input {
    border-radius: 20px;
    height: 35px;
    margin-left: 15px;
    width: 250px;
    padding-left: 10px;
    border: none;
  }
  .signup_phone_number {
    gap: 4px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .signup_phone_number span {
    margin-left: 18px;
    font-size: 16px;
  }
  .signup_phone_number_input {
    height: 35px;
    margin-left: 15px;
    width: 250px;

    border-radius: 20px;
    padding-left: 10px;
    border: none;
  }
  .signup_email {
    gap: 4px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .signup_email span {
    margin-left: 18px;
    font-size: 16px;
  }
  .signup_email_input {
    height: 35px;
    margin-left: 15px;
    width: 250px;

    border-radius: 20px;
    padding-left: 10px;
    border: none;
  }
  .signup_password {
    gap: 4px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .signup_password span {
    margin-left: 18px;
    font-size: 16px;
  }
  .signup_password_input {
    height: 35px;
    margin-left: 15px;
    width: 250px;

    border-radius: 20px;
    padding-left: 10px;
    border: none;
  }
  .signup_confirm_password {
    gap: 4px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .signup_confirm_password span {
    margin-left: 18px;
    font-size: 16px;
  }
  .signup_confirm_password_input {
    height: 35px;
    margin-left: 15px;
    width: 250px;

    border-radius: 20px;
    padding-left: 10px;
    border: none;
  }
  .submit_signup_btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submit_signup {
    height: 30px;
    width: 150px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: 500;
  }
  .signup_agree {
    margin-top: 20px;
  }
  .agree_text {
    font-size: 14px;
    font-weight: 500;
  }
}
