@media (min-width: 1110px) {
  .main_container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    display: flex; /* Enable flexbox */

    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (optional) */
  }

  /* Styles for loginpage_container */
  .loginpage_container {
    height: 600px; /* Maintain your desired height */
    width: 1200px; /* Maintain your desired width */
    display: flex; /* Enable flexbox for centering content within */
    justify-content: center; /* Center content horizontally within */
    align-items: center; /* Center content vertically within */
  }
  .signin_container {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginpage_signin {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
  }
  .loginpage_username {
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
  }
  .loginpage_password {
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
  }
  .loginpage_username_input {
    height: 50px;
    width: 480px;
    border-radius: 30px;
    border: none;
    background-color: rgb(241, 241, 241);
    font-size: 17px;
    padding-left: 20px;
    margin-top: 8px;
  }
  .loginpage_password_input {
    height: 50px;
    width: 480px;
    border-radius: 30px;
    border: none;
    background-color: rgb(241, 241, 241);
    font-size: 17px;
    padding-left: 20px;
    margin-top: 8px;
  }
  .submit_signin {
    height: 50px;
    width: 500px;
    border-radius: 30px;
    border: none;
    background-color: #e96f6fb2;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
    cursor: pointer;
  }
  .remember_forget {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .forgot-password-link {
    color: #e96f6fb2;
    text-decoration: none;
  }
  .remember_text {
    margin-left: 5px;
    font-size: 17px;
    font-weight: 500;
  }

  .signin_with {
    font-size: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .signin_with span {
    margin-left: 26px;
    font-size: 20px;
    font-weight: 500;
  }
  .signin_with_options {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 40px; */
  }
  .signin_with_options_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80px;
    border: 2px solid black;
    border-radius: 8px;
  }
  .signup_container {
    height: 600px;
    width: 600px;
    background-color: #e96f6fb2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .welcome_to_itga {
    font-size: 40px;
    font-weight: 700;
  }
  .new_to_itga {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .signup_to_itga {
    height: 55px;
    width: 150px;
    border-radius: 30px;
    border: 3px white solid;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .signup_link {
    color: inherit;
    text-decoration: none;
  }
}
@media (max-width: 1109px) {
  .mobile_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .mobile_itga {
    display: flex;
    flex-direction: column;
    background-color: #e96f6fb2;
    width: 100%;
    padding: 20px 0px;
  }
  .welcome_itga {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .itga_text {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
  }
  .loginpage_username {
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
  }
  .loginpage_password {
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
  }
  .loginpage_username_input {
    height: 50px;
    width: 320px;
    border-radius: 30px;
    border: none;
    background-color: rgb(241, 241, 241);
    font-size: 17px;
    padding-left: 20px;
    margin-top: 8px;
  }
  .loginpage_password_input {
    height: 50px;
    width: 320px;
    border-radius: 30px;
    border: none;
    background-color: rgb(241, 241, 241);
    font-size: 17px;
    padding-left: 20px;
    margin-top: 8px;
  }
  .submit_signin {
    height: 50px;
    width: 340px;
    border-radius: 30px;
    border: none;
    background-color: #e96f6fb2;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
    cursor: pointer;
  }
  .remember_forget {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  .forgot-password-link {
    color: #e96f6fb2;
    text-decoration: none;
  }
  .remember_text {
    margin-left: 5px;
    font-size: 17px;
    font-weight: 500;
  }
  .signin_with {
    font-size: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .signin_with span {
    margin-left: 26px;
    font-size: 20px;
    font-weight: 500;
  }
  .signin_with_options {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 40px; */
  }
  .signin_with_options_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80px;
    border: 2px solid black;
    border-radius: 8px;
  }
  .no_account {
    margin-top: 60px;
  }
  .signup_link {
    cursor: pointer;
    color: #e96f6fb2;
  }
}
